# dependencies
node_modules/
.yarn/install-state.gz

# custom config files
.yarnrc.yml

# turbo
.turbo

# build
dist
.astro

# TypeScript incremental compilation
*.tsbuildinfo

# coverage
coverage

# astro
.astro
